@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script&display=swap");

body {
  background-color: #fdf8f5;
  color: rgb(221, 149, 197);
  font-family: "Audiowide", cursive;
}

.lolly {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lollipop {
  height: 300px;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 60px;
}

.lollyFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lollyFlavorDiv {
  display: flex;
  flex-direction: column;
}

.colorPicker {
  height: 80px;
  width: 80px;
  margin-top: -6px;
  margin-left: -7px;
}

.colorPickerLabel {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  overflow: hidden;
  margin: 20px;
}

.createLollyForm {
  display: flex;
  flex-direction: column;
}

.create-button {
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.lollyPage {
  font-size: 15px;
  border: 5px double rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgb(102, 99, 99);
  padding: 7px;
  font-family: "Dancing Script", cursive;
  width: 50%;
  height: 50%;
  position: relative;
  top: 50px;
  margin: auto;
  color: rgb(26, 12, 21);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vlolly {
  width: 35%;
  margin: auto;
}

.volly1 {
  width: 15%;
  margin: auto;
}

.tempLolly {
  background-color: rgba(105, 105, 105, 0.452);
  width: 50%;
  margin: auto;
}

.circular {
  position: absolute;
  top: 50%;
  left: 50%;
}

.vl1 {
  position: relative;
  left: 38%;
}

@media screen and (max-width: 480px) {
  .lollyPage {
    width: 90%;
  }
  .vlolly {
    width: 50%;
  }
  .tempLolly {
    width: 90%;
  }
  .vlolly1 {
    width: 50%;
  }
}
